<header class="header">
  <div class="container flex mob-container">
    <nav class="header-menu flex">
      <a class="header-logo flex" href="./index.html">
        <div class="logo-img">
          <svg class="logo-svg">
            <use href="./img/mob-logo.svg"></use>
          </svg>
        </div>
        <div>Thewatchsport</div>
      </a>
      <ul class="header-list list flex menu">
        <li class="header-item">
          <a class="header-link link" href="#About">About Us</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#Catalog">Catalog</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#Sale">Sale</a>
        </li>
      </ul>
    </nav>
    <a href="" class="header-tel">+380 (68) 443-94-26</a>

    <div class="container flex head-mob-menu">
      <button
        class="menu-toggle js-open-menu mob-btn"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="ggmenu" width="20" height="14">
          <use href="./img/icons.svg#icon-ggmenu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
