<header class="header">
  <div class="header-container mob-container">
    <nav class="header-menu">
      <a class="header-logo" href="./index.html">
        <div class="logo-img">
          <img src="./img/logo50px.svg" alt="logo" width="14" />
        </div>
        <span class="logo-text">thewatchspot</span>
      </a>
      <ul class="header-list list flex menu">
        <li class="header-item">
          <a class="header-link link" href="#About">About Us</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#Catalog">Catalog</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#Sale">Sale</a>
        </li>
      </ul>
    </nav>
    <a href="tel:+380 (68) 443-94-26" class="header-tel">+380 (68) 443-94-26</a>

    <div class="head-mob-menu">
      <button class="mob-btn" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="ggmenu" width="24" height="24">
          <use href="./img/icons.svg#icon-ggmenu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
