<section class="hero">
  <div class="hero-container container">
    <h2 class="hero-main">Welcome to our collection of premium watches</h2>
    <picture class="hero-slider">
      <source
        media="(max-width: 275px)"
        srcset="./img/mob-slider-01-1x.jpg 1x, ./img/mob-slider-01-2x.jpg 2x"
      />
      <source
        media="(max-width: 768px)"
        srcset="/src/img/slider-01-1x.jpg 1x, /src/img/slider-01-1x.jpg 2x"
      />
      <img src="/src/img/slider-01-1x.jpg" alt="watch in collection" />
    </picture>
    <p class="hero-text">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <picture class="hero-picture">
      <source
        media="(max-width: 275px)"
        srcset="
          /src/img/img-mob-hero-1x.jpg 1x,
          /src/img/img-mob-hero-2x.jpg 2x
        "
      />
      <source
        media="(max-width: 768px)"
        srcset="
          /src/img/img-tab-hero-1x.jpg 1x,
          /src/img/img-tab-hero-2x.jpg 2x
        "
      />
      <source
        media="(max-width: 1280px)"
        srcset="/src/img/img-pc-hero-1x.jpg 1x, /src/img/img-pc-hero-2x.jpg 2x"
      />
      <img src="/src/img/img-pc-hero-1x.jpg" alt="watch on her hand" />
    </picture>
  </div>
</section>
