<section class="hero">
  <div class="hero-container container">
    <p2 class="hero-main">Welcome to our collection of premium watches</p2>
    <img
      src="/src/img/mob-slider-01-1x.jpg"
      alt=""
      srcset=""
      class="hero-slider"
    />
    <p class="hero-text">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <img
      src="/src/img/img-mob-hero-1x.jpg"
      alt=""
      srcset=""
      class="hero-picture"
    />
  </div>
</section>

<img
  srcset="./images/team_card_1.jpg 1x, ./images/team_card_1_2x.jpg 2x"
  src="./images/team_card_1.jpg"
  alt="Mark"
  width="264"
  height="260"
/>

<picture>
  <source
    srcset="https://picsum.photos/id/237/400/600"
    media="(max-width: 600px)"
  />
  <source
    srcset="https://picsum.photos/id/237/800/400"
    media="(min-width: 601px)"
  />
  <img src="https://picsum.photos/id/237/300/200" alt="Cute puppy" />
</picture>

<picture>
  <source
    srcset="
      https://picsum.photos/id/237/400/600  400w,
      https://picsum.photos/id/237/800/1200 800w
    "
    media="(max-width: 600px)"
    sizes="(min-width: 480px) 480px, 100vw"
  />
  <source
    srcset="
      https://picsum.photos/id/237/800/400   800w,
      https://picsum.photos/id/237/1600/800 1600w
    "
    media="(min-width: 601px)"
    sizes="(min-width: 800px) 800px, 100vw"
  />
  <img src="https://picsum.photos/id/237/300/200" alt="Cute puppy" />
</picture>
