<div class="mob-menu" data-menu-container>
  <div class="mob-logo">
    <a class="mob-logo-link link" href="../index.html">
      <img
        class="mob-logo-icon"
        src="./img/logo4-cropped.svg"
        alt="logo"
        width="14"
        height="14"
      />
      thewatchspot
    </a>
    <button type="button" class="mob-close-btn" data-close-menu>
      <svg class="mob-close-icon" width="12" height="12">
        <use href="./img/icons.svg#icon-x"></use>
      </svg>
    </button>
  </div>
  <div class="mob-nav">
    <ul class="mob-menu-list list">
      <li class="mob-menu-item">
        <a class="mob-menu-link link" href="#About">ABOUT US</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link link" href="#Catalog">CATALOG</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link link" href="#Sale">SALE</a>
      </li>
    </ul>
  </div>
</div>
