<section class="container catalog-section">
  <h2 class="catalog-title">Catalog</h2>

  <ul class="catalog-list list">
    <li class="catalog-list-item">
      <a class="catalog-item link" href="">
        <div class="catalog-item-img-wrapper">
          <picture class="picture-flex">
            <source
              srcset="./img/product-01-1x.jpg 1x, ./img/product-01-2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./img/product-01-1x.jpg 1x, ./img/product-01-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/product-01-1x.jpg 1x, ./img/product-01-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <img
              src="./img/product-01-1x.jpg"
              alt="steel watch with black case"
            />
          </picture>
          <div class="overlay">
            <svg width="24" height="24" class="heart-icon">
              <use href="./img/icons.svg#icon-heart"></use>
            </svg>
            <div class="overlay-desc">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="overlay-details">
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54. 5mm</p>
              <p class="overlay-text">Case Colour: Stee</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunctio</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <p class="catalog-list-text">
          Tube Watch S42 Date Steel With Black Case
        </p>
        <span class="euro-price">€395</span>
      </a>
    </li>

    <li class="catalog-list-item">
      <a class="catalog-item link" href="">
        <div class="catalog-item-img-wrapper">
          <picture class="picture-flex">
            <source
              srcset="./img/product-02-1x.jpg 1x, ./img/product-02-2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./img/product-02-1x.jpg 1x, ./img/product-02-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/product-02-1x.jpg 1x, ./img/product-02-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <img
              src="./img/product-02-1x.jpg"
              alt="steel watch with black case"
            />
          </picture>
          <div class="overlay">
            <svg width="24" height="24" class="heart-icon">
              <use href="./img/icons.svg#icon-heart"></use>
            </svg>
            <div class="overlay-desc">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="overlay-details">
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54. 5mm</p>
              <p class="overlay-text">Case Colour: Stee</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunctio</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <p class="catalog-list-text">Avondale Watch Police For Men</p>
        <span class="euro-price">€800</span>
      </a>
    </li>

    <li class="catalog-list-item">
      <a class="catalog-item link" href="">
        <div class="catalog-item-img-wrapper">
          <picture class="picture-flex">
            <source
              srcset="./img/product-03-1x.jpg 1x, ./img/product-03-2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./img/product-03-1x.jpg 1x, ./img/product-03-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/product-03-1x.jpg 1x, ./img/product-03-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <img
              src="./img/product-03-1x.jpg"
              alt="steel watch with black case"
            />
          </picture>
          <div class="overlay">
            <svg width="24" height="24" class="heart-icon">
              <use href="./img/icons.svg#icon-heart"></use>
            </svg>
            <div class="overlay-desc">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="overlay-details">
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54. 5mm</p>
              <p class="overlay-text">Case Colour: Stee</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunctio</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <p class="catalog-list-text">
          Diver 300M Co‑Axial Master Chronometer Chronograph
        </p>
        <span class="euro-price">€600</span>
      </a>
    </li>

    <li class="catalog-list-item">
      <a class="catalog-item link" href="">
        <div class="catalog-item-img-wrapper">
          <picture class="picture-flex">
            <source
              srcset="./img/product-04-1x.jpg 1x, ./img/product-04-2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./img/product-04-1x.jpg 1x, ./img/product-04-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/product-04-1x.jpg 1x, ./img/product-04-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <img
              src="./img/product-04-1x.jpg"
              alt="steel watch with black case"
            />
          </picture>
          <div class="overlay">
            <svg width="24" height="24" class="heart-icon">
              <use href="./img/icons.svg#icon-heart"></use>
            </svg>
            <div class="overlay-desc">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="overlay-details">
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54. 5mm</p>
              <p class="overlay-text">Case Colour: Stee</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunctio</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <p class="catalog-list-text">Diver 300M Co-Axial Master Chronometer</p>
        <span class="euro-price">€1400</span>
      </a>
    </li>

    <li class="catalog-list-item">
      <a class="catalog-item link" href="">
        <div class="catalog-item-img-wrapper">
          <picture class="picture-flex">
            <source
              srcset="./img/product-05-1x.jpg 1x, ./img/product-05-2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./img/product-05-1x.jpg 1x, ./img/product-05-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/product-05-1x.jpg 1x, ./img/product-05-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <img
              src="./img/product-05-1x.jpg"
              alt="steel watch with black case"
            />
          </picture>
          <div class="overlay">
            <svg width="24" height="24" class="heart-icon">
              <use href="./img/icons.svg#icon-heart"></use>
            </svg>
            <div class="overlay-desc">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="overlay-details">
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54. 5mm</p>
              <p class="overlay-text">Case Colour: Stee</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunctio</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <p class="catalog-list-text">Taman Watch By Police For Men</p>
        <span class="euro-price">€500</span>
      </a>
    </li>

    <li class="catalog-list-item">
      <a class="catalog-item link" href="">
        <div class="catalog-item-img-wrapper">
          <picture class="picture-flex">
            <source
              srcset="./img/product-06-1x.jpg 1x, ./img/product-06-2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./img/product-06-1x.jpg 1x, ./img/product-06-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/product-06-1x.jpg 1x, ./img/product-06-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <img
              src="./img/product-06-1x.jpg"
              alt="steel watch with black case"
            />
          </picture>
          <div class="overlay">
            <svg width="24" height="24" class="heart-icon">
              <use href="./img/icons.svg#icon-heart"></use>
            </svg>
            <div class="overlay-desc">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="overlay-details">
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54. 5mm</p>
              <p class="overlay-text">Case Colour: Stee</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunctio</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <p class="catalog-list-text">Malawi Watch Police For Men</p>
        <span class="euro-price">€555</span>
      </a>
    </li>

    <li class="catalog-list-item">
      <a class="catalog-item link" href="">
        <div class="catalog-item-img-wrapper">
          <picture class="picture-flex">
            <source
              srcset="./img/product-07-1x.jpg 1x, ./img/product-07-2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./img/product-07-1x.jpg 1x, ./img/product-07-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/product-07-1x.jpg 1x, ./img/product-07-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <img
              src="./img/product-07-1x.jpg"
              alt="steel watch with black case"
            />
          </picture>
          <div class="overlay">
            <svg width="24" height="24" class="heart-icon">
              <use href="./img/icons.svg#icon-heart"></use>
            </svg>
            <div class="overlay-desc">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="overlay-details">
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54. 5mm</p>
              <p class="overlay-text">Case Colour: Stee</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunctio</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <p class="catalog-list-text">Diver 300M Co-Axial Master Chronometer</p>
        <span class="euro-price">€1200</span>
      </a>
    </li>

    <li class="catalog-list-item">
      <a class="catalog-item link" href="">
        <div class="catalog-item-img-wrapper">
          <picture class="picture-flex">
            <source
              srcset="./img/product-08-1x.jpg 1x, ./img/product-08-2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./img/product-08-1x.jpg 1x, ./img/product-08-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/product-08-1x.jpg 1x, ./img/product-08-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <img
              src="./img/product-08-1x.jpg"
              alt="steel watch with black case"
            />
          </picture>
          <div class="overlay">
            <svg width="24" height="24" class="heart-icon">
              <use href="./img/icons.svg#icon-heart"></use>
            </svg>
            <div class="overlay-desc">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="overlay-details">
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54. 5mm</p>
              <p class="overlay-text">Case Colour: Stee</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunctio</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <p class="catalog-list-text">Greenlane Watch By Police For Men</p>
        <span class="euro-price">€1000</span>
      </a>
    </li>

    <li class="catalog-list-item">
      <a class="catalog-item link" href="">
        <div class="catalog-item-img-wrapper">
          <picture class="picture-flex">
            <source
              srcset="./img/product-09-1x.jpg 1x, ./img/product-09-2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./img/product-09-1x.jpg 1x, ./img/product-09-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/product-09-1x.jpg 1x, ./img/product-09-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <img
              src="./img/product-09-1x.jpg"
              alt="steel watch with black case"
            />
          </picture>
          <div class="overlay">
            <svg width="24" height="24" class="heart-icon">
              <use href="./img/icons.svg#icon-heart"></use>
            </svg>
            <div class="overlay-desc">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="overlay-details">
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54. 5mm</p>
              <p class="overlay-text">Case Colour: Stee</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunctio</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <p class="catalog-list-text">Squardrc 5402 Chrono</p>
        <span class="euro-price">€395</span>
      </a>
    </li>

    <li class="catalog-list-item">
      <a class="catalog-item link" href="">
        <div class="catalog-item-img-wrapper">
          <picture class="picture-flex">
            <source
              srcset="./img/product-10-1x.jpg 1x, ./img/product-10-2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./img/product-10-1x.jpg 1x, ./img/product-10-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/product-10-1x.jpg 1x, ./img/product-10-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <img
              src="./img/product-10-1x.jpg"
              alt="steel watch with black case"
            />
          </picture>
          <div class="overlay">
            <svg width="24" height="24" class="heart-icon">
              <use href="./img/icons.svg#icon-heart"></use>
            </svg>
            <div class="overlay-desc">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="overlay-details">
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54. 5mm</p>
              <p class="overlay-text">Case Colour: Stee</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunctio</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <p class="catalog-list-text">
          Diver 300M Co‑Axial Master Chronometer Chronograph
        </p>
        <span class="euro-price">€400</span>
      </a>
    </li>

    <li class="catalog-list-item">
      <a class="catalog-item link" href="">
        <div class="catalog-item-img-wrapper">
          <picture class="picture-flex">
            <source
              srcset="./img/product-11-1x.jpg 1x, ./img/product-11-2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./img/product-11-1x.jpg 1x, ./img/product-11-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/product-11-1x.jpg 1x, ./img/product-11-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <img
              src="./img/product-11-1x.jpg"
              alt="steel watch with black case"
            />
          </picture>
          <div class="overlay">
            <svg width="24" height="24" class="heart-icon">
              <use href="./img/icons.svg#icon-heart"></use>
            </svg>
            <div class="overlay-desc">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="overlay-details">
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54. 5mm</p>
              <p class="overlay-text">Case Colour: Stee</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunctio</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <p class="catalog-list-text">
          Diver 300M Co‑Axial Master Chronometer Chronograph
          <span class="euro-price">€400</span>
        </p></a
      >
    </li>

    <li class="catalog-list-item">
      <a class="catalog-item link" href="">
        <div class="catalog-item-img-wrapper">
          <picture class="picture-flex">
            <source
              srcset="./img/product-01-1x.jpg 1x, ./img/product-01-2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./img/product-01-1x.jpg 1x, ./img/product-01-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/product-01-1x.jpg 1x, ./img/product-01-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <img
              src="./img/product-01-1x.jpg"
              alt="steel watch with black case"
            />
          </picture>
          <div class="overlay">
            <svg width="24" height="24" class="heart-icon">
              <use href="./img/icons.svg#icon-heart"></use>
            </svg>
            <div class="overlay-desc">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="overlay-details">
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54. 5mm</p>
              <p class="overlay-text">Case Colour: Stee</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunctio</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <p class="catalog-list-text">Citizen</p>
        <span class="euro-price">€519</span>
      </a>
    </li>
  </ul>
  <button data-modal-open type="button" class="button-buy">Buy now</button>
</section>
