<section class="section">
  <p class="watches-title">New Watches</p>
  <h2 class="collection-desc">Green And Bronze—The Match Made In Heaven</h2>
  <div class="container">
    <picture>
      <source
        srcset="
          ../img/pc-new-watches-01-1x.jpg 1x,
          ../img/pc-new-watches-01-2x.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ../img/tab-new-watches-01-1x.jpg 1x,
          ../img/tab-new-watches-01-2x.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ../img/mob-new-watches-01-1x.jpg 1x,
          ../img/mob-new-watches-01-2x.jpg 2x
        "
        media="(min-width:375px)"
      />
      <img src="../img/pc-new-watches-01-1x.jpg" alt="watch1" width="576" />
    </picture>
    <picture>
      <source
        srcset="
          ../img/pc-new-watches-02-1x.jpg 1x,
          ../img/pc-new-watches-02-2x.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ../img/tab-new-watches-02-1x.jpg 1x,
          ../img/tab-new-watches-02-2x.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ../img/mob-new-watches-02-1x.jpg 1x,
          ../img/mob-new-watches-02-2x.jpg 2x
        "
        media="(min-width:375px)"
      />
      <img src="../img/pc-new-watches-02-1x.jpg" alt="watch2" width="576" />
    </picture>
  </div>
</section>
