<section class="container catalog-section">
  <h2 class="catalog-title">Catalog</h2>

  <ul class="catalog-list list">
    <li>
      <div class="catalog-item-img-wrapper">
        <picture>
          <source
            srcset="./img/product-01-1x.jpg 1x, ./img/product-01-2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/product-01-1x.jpg 1x, ./img/product-01-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/product-01-1x.jpg 1x, ./img/product-01-2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img
            src="./img/product-01-1x.jpg"
            alt="steel watch with black case"
            width="276"
            height="274"
          />
        </picture>
      </div>
      <p class="catalog-list-text">Tube Watch S42 Date Steel With Black Case</p>
      <span>€395</span>
    </li>

    <li>
      <div class="catalog-item-img-wrapper">
        <picture>
          <source
            srcset="./img/product-02-1x.jpg 1x, ./img/product-02-2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/product-02-1x.jpg 1x, ./img/product-02-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/product-02-1x.jpg 1x, ./img/product-02-2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img
            src="./img/product-02-1x.jpg"
            alt="steel watch with black case"
            width="276"
            height="274"
          />
        </picture>
      </div>
      <p class="catalog-list-text">Avondale Watch Police For Men</p>
      <span>€800</span>
    </li>

    <li>
      <div class="catalog-item-img-wrapper">
        <picture>
          <source
            srcset="./img/product-03-1x.jpg 1x, ./img/product-03-2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/product-03-1x.jpg 1x, ./img/product-03-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/product-03-1x.jpg 1x, ./img/product-03-2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img
            src="./img/product-03-1x.jpg"
            alt="steel watch with black case"
            width="276"
            height="274"
          />
        </picture>
      </div>
      <p>Diver 300M Co‑Axial Master Chronometer Chronograph</p>
      <span>€600</span>
    </li>

    <li>
      <div class="catalog-item-img-wrapper">
        <picture>
          <source
            srcset="./img/product-04-1x.jpg 1x, ./img/product-04-2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/product-04-1x.jpg 1x, ./img/product-04-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/product-04-1x.jpg 1x, ./img/product-04-2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img
            src="./img/product-04-1x.jpg"
            alt="steel watch with black case"
            width="276"
            height="274"
          />
        </picture>
      </div>
      <p class="catalog-list-text">Diver 300M Co-Axial Master Chronometer</p>
      <span>€1400</span>
    </li>

    <li>
      <div class="catalog-item-img-wrapper">
        <picture>
          <source
            srcset="./img/product-05-1x.jpg 1x, ./img/product-05-2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/product-05-1x.jpg 1x, ./img/product-05-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/product-05-1x.jpg 1x, ./img/product-05-2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img
            src="./img/product-05-1x.jpg"
            alt="steel watch with black case"
            width="276"
            height="274"
          />
        </picture>
      </div>
      <p class="catalog-list-text">Taman Watch By Police For Men</p>
      <span>€500</span>
    </li>

    <li>
      <div class="catalog-item-img-wrapper">
        <picture>
          <source
            srcset="./img/product-06-1x.jpg 1x, ./img/product-06-2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/product-06-1x.jpg 1x, ./img/product-06-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/product-06-1x.jpg 1x, ./img/product-06-2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img
            src="./img/product-06-1x.jpg"
            alt="steel watch with black case"
            width="276"
            height="274"
          />
        </picture>
      </div>
      <p class="catalog-list-text">Malawi Watch Police For Men</p>
      <span>€555</span>
    </li>

    <li>
      <div class="catalog-item-img-wrapper">
        <picture>
          <source
            srcset="./img/product-07-1x.jpg 1x, ./img/product-07-2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/product-07-1x.jpg 1x, ./img/product-07-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/product-07-1x.jpg 1x, ./img/product-07-2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img
            src="./img/product-07-1x.jpg"
            alt="steel watch with black case"
            width="276"
            height="274"
          />
        </picture>
      </div>
      <p class="catalog-list-text">Diver 300M Co-Axial Master Chronometer</p>
      <span>€1200</span>
    </li>

    <li>
      <div class="catalog-item-img-wrapper">
        <picture>
          <source
            srcset="./img/product-08-1x.jpg 1x, ./img/product-08-2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/product-08-1x.jpg 1x, ./img/product-08-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/product-08-1x.jpg 1x, ./img/product-08-2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img
            src="./img/product-08-1x.jpg"
            alt="steel watch with black case"
            width="276"
            height="274"
          />
        </picture>
      </div>
      <p class="catalog-list-text">Greenlane Watch By Police For Men</p>
      <span>€1000</span>
    </li>

    <li>
      <div class="catalog-item-img-wrapper">
        <picture>
          <source
            srcset="./img/product-09-1x.jpg 1x, ./img/product-09-2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/product-09-1x.jpg 1x, ./img/product-09-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/product-09-1x.jpg 1x, ./img/product-09-2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img
            src="./img/product-09-1x.jpg"
            alt="steel watch with black case"
            width="276"
            height="274"
          />
        </picture>
      </div>
      <p class="catalog-list-text">Squardrc 5402 Chrono</p>
      <span>€395</span>
    </li>

    <li>
      <div class="catalog-item-img-wrapper">
        <picture>
          <source
            srcset="./img/product-10-1x.jpg 1x, ./img/product-10-2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/product-10-1x.jpg 1x, ./img/product-10-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/product-10-1x.jpg 1x, ./img/product-10-2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img
            src="./img/product-10-1x.jpg"
            alt="steel watch with black case"
            width="276"
            height="274"
          />
        </picture>
      </div>
      <p class="catalog-list-text">Diver 300M Co‑Axial Master</p>
      <span>€400</span>
    </li>

    <li>
      <div class="catalog-item-img-wrapper">
        <picture>
          <source
            srcset="./img/product-11-1x.jpg 1x, ./img/product-11-2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/product-11-1x.jpg 1x, ./img/product-11-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/product-11-1x.jpg 1x, ./img/product-11-2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img
            src="./img/product-11-1x.jpg"
            alt="steel watch with black case"
            width="276"
            height="274"
          />
        </picture>
      </div>
      <p class="catalog-list-text">Citizen</p>
      <span>€519</span>
    </li>

    <li>
      <div class="catalog-item-img-wrapper">
        <picture>
          <source
            srcset="./img/product-12-1x.jpg 1x, ./img/product-12-2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/product-12-1x.jpg 1x, ./img/product-12-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/product-12-1x.jpg 1x, ./img/product-12-2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img
            src="./img/product-12-1x.jpg"
            alt="steel watch with black case"
            width="276"
            height="274"
          />
        </picture>
      </div>
      <p class="catalog-list-text">Armani Exchange</p>
      <span>€400</span>
    </li>
  </ul>
</section>
