<section class="sale-section section">
  <div class="container" id="Sale">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-container">
      <div class="sale-gallery">
        <ul class="sale-list list">
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/mob-sale-02-1x.png 1x,
                  ./img/mob-sale-02-2x.png 2x
                "
                media="(max-width:767px)"
              />
              <source
                srcset="./img/sale-02-1x.png 1x, ./img/sale-02-2x.png 2x"
                media="(min-width:768px)"
              />
              <img
                class="sale-png-img"
                src="./img/sale-02-1x.png"
                alt="watch image"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/mob-sale-03-1x.jpg 1x,
                  ./img/mob-sale-03-2x.jpg 2x
                "
                media="(max-width:767px)"
              />
              <source
                srcset="./img/sale-03-1x.jpg 1x, ./img/sale-03-2x.jpg 2x"
                media="(min-width:768px)"
              />
              <img src="../img/sale-03-1x.jpg" alt="watch image" />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/mob-sale-04-1x.jpg 1x,
                  ./img/mob-sale-04-2x.jpg 2x
                "
                media="(max-width:767px)"
              />
              <source
                srcset="./img/sale-04-1x.jpg 1x, ./img/sale-04-2x.jpg 2x"
                media="(min-width:768px)"
              />
              <img src="../img/sale-04-1x.jpg" alt="watch image" />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/mob-sale-05-1x.jpg 1x,
                  ./img/mob-sale-05-2x.jpg 2x
                "
                media="(max-width:767px)"
              />
              <source
                srcset="./img/sale-05-1x.jpg 1x, ./img/sale-05-2x.jpg 2x"
                media="(min-width:768px)"
              />
              <img src="../img/sale-05-1x.jpg" alt="watch image" />
            </picture>
          </li>
        </ul>
        <div class="sale-wrapper">
          <picture>
            <source
              srcset="./img/mob-sale-01-1x.jpg 1x, ./img/mob-sale-01-2x.jpg 2x"
              media="(max-width:767px)"
            />
            <source
              srcset="./img/sale-01-1x.jpg 1x, ./img/sale-01-2x.jpg 2x"
              media="(min-width:768px)"
            />
            <img src="./img/sale-01-1x.jpg" alt="watch image" />
          </picture>
        </div>
      </div>
      <div class="sale-blocks">
        <h3 class="sale-heading">Greenlane Watch By Police For MenHT</h3>
        <div class="sale-product">
          <p class="sale-text">Product tag: PEWJK2227003</p>
          <p class="sale-price">€700<span>€1000</span></p>
        </div>
        <div class="sale-info">
          <h4 class="sale-description">Description</h4>
          <p class="sale-info-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>
        <div class="sale-characteristics">
          <h4 class="sale-description">DETAILS & FEATUREStion</h4>
          <p class="sale-info-text">
            Gender: man <br />
            Size: 46x54.5mm <br />
            Case Colour: Steel <br />
            Band Material: Metal <br />
            Case Material: Metal <br />
            Features: Multifunction <br />
            Water Resistant: 5 (ATM) <br />
            Band Colour: Steel
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
