<div class="swiper mySliper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="" alt="#">
        </div>

        <div class="swiper-slide">
            <img src="" alt="#">
        </div>

        <div class="swiper-slide">
            <img src="" alt="#">
        </div>

        <div class="swiper-slide">
            <img src="" alt="#">
        </div>

        <div class="swiper-slide">
            <img src="" alt="#">
        </div>
    </div>
</div>
<div class="swiper-buttons">
    <div class="button-prev"></div>
    <div class="button-next"></div>
</div>