.footer {
  padding-top: 40px;
  padding-bottom: 20px;

  background: #1e2827;
}

.footer-tab-position {
  display: flex;
  flex-wrap: wrap;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.footer-item.item + .item {
  margin-top: 14px;
}

.footer-logo-link {
  width: 40px;
  height: 40px;

  display: block;
  margin-bottom: 40px;
}

.footer-logo-img {
  display: initial;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;

  background-color: #1e2827;
}

.footer-tel {
  display: block;
  margin-bottom: 20px;
}

.footer-list {
  margin-left: auto;
  flex-direction: column;

  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.footer-tel {
  color: #ffffff;
}

.footer-adr,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  color: white;
}

.footer-adr a {
  color: #fff;
}

.footer-icon-list {
  display: flex;
  margin-bottom: 80px;
  margin-top: 40px;
  gap: 14px;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: 250ms;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  border: 1px solid var(--sec-text-color);
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.social-logo {
  width: 20px;
  height: 20px;

  fill: rgba(255, 255, 255, 0.8);
  transition: fill 250ms;
}

.footer-icon-link:is(:hover, :focus) .social-logo {
  fill: rgba(255, 255, 255, 1);
}

.copyright,
.copyright-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  opacity: 0.9;

  color: #c6cdd1;
}

.copyright-list {
  display: flex;
  margin-top: 14px;
  gap: 14px;
}

.container-footer {
  width: 365px;
  flex-direction: row-reverse;
  justify-content: start;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 20px;
  }

  .footer-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;

    letter-spacing: -0.02em;
  }

  .footer-tab-position {
    /* margin-bottom: 152px; */
    margin-bottom: auto;
    column-gap: 0;
  }

  .footer-icon-item {
    width: 44px;
    height: 44px;
  }

  .footer-down {
    display: flex;
  }

  .footer-logo-img {
    width: 50px;
    height: 50px;
  }

  .footer-logo-link {
    width: 50px;
    height: 50px;
  }

  .footer-list,
  .footer-tel,
  .footer-adr {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;

    letter-spacing: -0.02em;
  }

  .footer-down {
    display: flex;
    margin-top: 152px;
  }

  .footer-icon-list {
    margin: 0;
    margin-left: auto;
  }

  .copyright,
  .copyright-link {
    margin-right: auto;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    opacity: 0.9;

    color: #c6cdd1;
  }

  .social-logo {
    width: 20px;
    height: 20px;

    fill: rgba(255, 255, 255, 0.8);
  }

  .container-footer {
    width: 734px;
  }

  .copyright-list {
    display: flex;
    margin: 0;
    gap: 18px;
  }

  .footer-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: 250ms;
  }

  .footer-icon-link:hover,
  .footer-icon-link:focus {
    border: 1px solid var(--sec-text-color);
  }
}

@media (min-width: 1280px) {
  .footer-adr,
  .footer-tel {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;

    letter-spacing: -0.02em;
  }

  .footer-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
  }

  .footer {
    padding-top: 104px;
    padding-bottom: 32px;
  }

  .container-footer {
    width: 1206px;
  }

  .copyright,
  .copyright-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #c6cdd1;
    opacity: 0.9;
  }

  .social-logo {
    width: 20px;
    height: 20px;

    fill: rgba(255, 255, 255, 0.8);
  }

  .footer-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: 250ms;
  }

  .footer-icon-link:hover,
  .footer-icon-link:focus {
    border: 1px solid var(--sec-text-color);
  }
}
