.hero {
  background-color: var(--main-color);
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  max-width: 365px;
}

.hero-main {
  margin-bottom: 60px;

  font-weight: 600;
  font-size: 38px;
  line-height: 1.05;
  letter-spacing: -0.04em;
  color: var(--sec-text-color);
}

.hero-slider-counter {
  width: 266px;
  margin-bottom: 40px;
}

.hero-slider {
  display: block;
  height: 200px;
  width: 266px;
  margin-bottom: 20px;
}

.hero-slider-img {
  display: block;
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.hero-btn-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-btn {
  height: 32px;
  width: 32px;
}

.hero-counter {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--sec-text-color);
}

.hero-text {
  order: 2;
  align-self: flex-end;
  width: 248px;

  margin-top: 40px;
  margin-bottom: 40px;

  align-self: flex-end;

  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--sec-text-color);
}

.hero-block {
  display: flex;
  flex-direction: column;
}

.hero-picture {
  order: 3;
  height: 410px;
  width: 335px;
  margin: 0;
  height: 410px;
  width: 335px;
}

.hero-picture-img {
  display: block;
  height: 100%;
  width: 100%;

  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }

  .hero-picture {
    order: initial;
  }

  .hero-text {
    order: initial;
    margin-top: 0;
    margin-bottom: 0;
  }

  .hero-text-fix {
    margin-top: 65px;
    margin-left: 20px;
    width: 248px;
    height: 108px;
  }

  .hero-block-counter {
    display: flex;
  }

  .hero-block-fix {
    display: flex;
    margin-bottom: 40px;
  }

  .hero-container {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 60px;
    padding-bottom: 64px;
  }

  .hero-main {
    /* width: 653px; */
    font-size: 60px;
    line-height: 1.03;
    letter-spacing: -0.04em;
  }

  .hero-block {
    display: flex;
    flex-direction: column;
  }

  .hero-slider-counter {
    width: 436px;
  }

  .hero-slider {
    height: 255px;
    width: 436px;
  }

  .hero-text {
    align-self: flex-start;
    width: 248px;
    margin-left: auto;
    margin-top: 65px;
    /* margin-left: 20px;
    margin-top: 65px;
    margin-bottom: 0; */
  }

  .hero-picture {
    width: 704px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1206px;
  }

  .hero-container {
    flex-direction: row;
    /* justify-content: space-between; */
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .hero-main {
    width: 750px;
  }

  .hero-slider-counter {
    align-self: flex-end;
    order: 3;
    margin-bottom: 0;
  }

  .hero-text {
    order: initial;
    margin-top: 0;
    width: 282px;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 300;
    font-size: 14px;
    line-height: 1.29;

    letter-spacing: -0.02em;
  }

  .hero-picture {
    order: 4;
    width: 676px;
    height: 394px;
    margin-left: auto;
  }
}
