/* .is-hidden {
} */

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  z-index: 20;

  transition: opacity, cubic-bezier(0.33, 0.47, 0.77, 0.49);
}

.mob-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 29px 20px 200px 20px;
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

  transition: opacity cubic-bezier(0.33, 0.47, 0.77, 0.49),
    visibility cubic-bezier(0.33, 0.47, 0.77, 0.49);
}

.mob-logo-icon {
  stroke: var(--sec-text-color);
  width: 14px;
  height: 14px;
  color: var(--accent-color);
  align-self: center;
  margin-right: 4px;
}

.mob-close-btn {
  padding: 0;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mob-close-icon {
  fill: var(--sec-text-color);
}

.mob-nav {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.mob-menu-link {
  color: var(--sec-text-color);
}

.mob-logo-link.link {
  margin-right: auto;
  display: flex;
  align-items: center;

  color: var(--sec-text-color);
  font-size: 12px;
  line-height: calc(12.3 / 12);
}

.mob-logo {
  display: flex;
  width: 365px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
