.section-name {
  font-weight: 300;
  font-size: 12px;
  color: var(--main-color);
  opacity: 40%;
  margin-bottom: 8px;
  letter-spacing: 0.06em;
}
.section-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: calc(-0.02 * 32px);
  margin-bottom: 40px;
}
.container-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }

  .section-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.37;
    width: 448px;
    letter-spacing: calc(-0.02 * 40px);
  }

  .container-flex {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1176px;
  }

  .container-flex {
    justify-content: center;
  }
}
